.tab-pane {
    width: 100%;
}

.container {
    display: block;
    width: fit-content;
    margin: auto;
}

img {
    margin: auto;
}

.card {
    padding: 20px;
    float: left;
    height: 50%;
    margin-bottom: 10px;
}

.badge {
    width: fit-content;
}

.badges {
    padding-bottom: 10px;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}