h1 {
    font-size: 22px;
}

.CV div {
    padding-top: 0px;
}

.extra-padding {
    padding-bottom: 10px;
}

.list-header {
    margin-left: 50px;
    margin-bottom: 0px;
}

ul {
    margin-left: 50px;
}

div.CV {
    max-width: 85%;
    position: relative;
}