body {
  background: #1e1e1e;
}

.App {
  background: #1e1e1e;
  color: #ffffff;
  font-family: monospace;
}

.name-title {
  font-size: 48px;
  font-family: monospace;
  text-align: center;
  padding: 50px 10px 20px 10px;
  margin: auto;
  width: 50%;
}

.intro {
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 50%;
}

.icons {
  text-align: center;
}

a {
  color:  #ffffff;
  float:none;
  display:inline-block;
  zoom:1;
}

.tabs-div {
  margin-top: 30px;;
  width: 100%;
}

.nav-tabs {
  margin: auto;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  font-family: monospace;
  justify-content: center;
  border-bottom: 3px solid #0dbc79;
}

.nav-tabs .nav-link {
  float: none !important;
  display: inline-block !important;
  zoom: 1;
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #0dbc79;
  border-color: #0dbc79;
}

.nav-tabs .nav-link:hover {
  color: #ffffff;
  background-color: #0dbc79;
  border-color: #0dbc79;
}

.tab-content {
  margin: 10px 25px;
}

.profile-pic {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

