body {
  background-image: linear-gradient(to right, #2589BD , #ffffc7);
  justify-content: center;
}

.App {
  background-color: white;
  width: 90%;
  height: 75%;
  margin: 75px auto;
  border-radius: 25px;
  display: flex;
}

.left_pane {
  width: 35%;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  justify-content: center;

}

.name-title {
  color: #39393A;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: auto;
  width: 50%;
}

.intro {
  color: #39393A;
  text-align: center;
  margin: auto;
  width: 60%;
}

.icons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

a {
  color: #39393A;
  font-size: 15px;;
  float: none;
  display: inline-block;
  zoom: 1;
}

.tabs-div {
  margin-top: 30px;;
  width: 65%;
  float: left;
}

.nav-tabs {
  margin: auto;
  width: 100%;
  color: #39393A;
  justify-content: center;
}

.nav-tabs .nav-link {
  float: none !important;
  display: inline-block !important;
  font-size: 18px;
  zoom: 1;
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background-image: linear-gradient(to right, #2589BD , #187795);
}

.nav-tabs .nav-link:hover {
  color: #ffffff;
  background-image: linear-gradient(to right, #2589BD , #187795);
}

.tab-content {
  margin: 10px 25px;
}

.profile-pic {
  width: 75%;
  display: block;
}

.icon {
  display: inline;
  padding: 10px;
  padding-bottom: 0px;
}

